<section class="section--contacts section">
  <div class="container">
    <h2 class="section__title visually-hidden">Адресс и контакт кафе и фудтраков з мороженым</h2>
    <div class="contacts">
      <ul class="contacts__row">
        <li class="contacts__column">
          <div class="contacts__item">
            <div class="contacts__address">
              <h3 class="contacts__title">CAFE</h3>
              <b class="contacts__subtitle">Chicago</b>
              <p class="contacts__text">
                Fusce ut velit laoreet, tempus arcu molestie vulputate
              </p>
            </div>
            <div class="contacts__working-time">
              <b class="contacts__work-days">Monday - Friday</b>
              <p class="contacts__open-hours">06:00 AM - 10:00 PM</p>
              <b class="contacts__work-days">Saturday - Sunday</b>
              <p class="contacts__open-hours">08:00 AM - 16:00 PM</p>
            </div>
            <div class="contacts__contact">
              <ul class="contacts__contact-list">
                <li class="contacts__phone">
                  <a href="tel:+610383766284">+61(0) 383 766 284</a>
                </li>
                <li class="contacts__email">
                  <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="contacts__column">
          <div class="contacts__item">
            <div class="contacts__address">
              <h3 class="contacts__title">FOOD TRUCK</h3>
              <b class="contacts__subtitle">Los Angeles</b>
              <p class="contacts__text">
                Fusce ut velit laoreet, tempus arcu molestie vulputate
              </p>
            </div>
            <div class="contacts__working-time">
              <b class="contacts__work-days">Monday - Friday</b>
              <p class="contacts__open-hours">06:00 AM - 10:00 PM</p>
              <b class="contacts__work-days">Saturday - Sunday</b>
              <p class="contacts__open-hours">08:00 AM - 16:00 PM</p>
            </div>
            <div class="contacts__contact">
              <ul class="contacts__contact-list">
                <li class="contacts__phone">
                  <a href="tel:+610383766284">+61(0) 383 766 284</a>
                </li>
                <li class="contacts__email">
                  <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="contacts__column">
          <div class="contacts__item">
            <div class="contacts__address">
              <h3 class="contacts__title">CAFE</h3>
              <b class="contacts__subtitle">New York</b>
              <p class="contacts__text">
                Fusce ut velit laoreet, tempus arcu molestie vulputate
              </p>
            </div>
            <div class="contacts__working-time">
              <b class="contacts__work-days">Monday - Friday</b>
              <p class="contacts__open-hours">06:00 AM - 10:00 PM</p>
              <b class="contacts__work-days">Saturday - Sunday</b>
              <p class="contacts__open-hours">08:00 AM - 16:00 PM</p>
            </div>
            <div class="contacts__contact">
              <ul class="contacts__contact-list">
                <li class="contacts__phone">
                  <a href="tel:+610383766284">+61(0) 383 766 284</a>
                </li>
                <li class="contacts__email">
                  <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <button class="contacts__button">Our Locations
      <svg 
      class="contacts__icon contacts__icon--white"
      width="6"
      height="10"
      >
        <use href="./images/icons/sprite.svg#icon-bigger"></use>
      </svg>
    </button>
    <button class="contacts__button contacts__button--white">Franchise
      <svg 
      class="contacts__icon" 
      width="6"
      height="10"
     >
        <use href="./images/icons/sprite.svg#icon-bigger"></use>
      </svg>
    </button>

    </div>
  </div>
</section>
