    <!--Feedback-->
    <section class="feedback">
        <div class="satisfied">
            <img src="./image/feedback-girl" alt="feedback-girl">
        </div>
        <div class="review">
            <li class="quotes">
                <img src="../images/feedback-background">
            </li>
            <li class="lines">
                <hr size="1px"/>
            </li>
            <li class="text_feedback">
                <p>
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. 
                    Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. 
                    Lorem ipsum primis in nibh vel risus.
                </p>
            </li>

        </div>
        <div class="client">
            <ul class="change-pages">
                <li class="points">
                    <img src="point-1">
                </li>
                <li class="points">
                    <img src="point-1">
                </li>
                <li class="points">
                    <img src="point-1">
                </li>
            </ul>
            <h3 class="client-data">
                Emily, Los Angeles
            </h3>
            <ul class="change-pages">
                <li class="points">
                    <img src="./image/feedback-house">
                </li>
                <li class="points">
                    <img src="./image/point-2">
                </li>
                <li class="points">
                    <img src="./image/point-2">
                </li>
            </ul>
        </div>
    </section>
</body>
</html>
