<header class="header">
  <div class="container header__container">
    <div class="header__flexbox">
      <a href="" class="logo" id="home"
        ><img src="./images/general/logo.png" alt="logo" />
      </a>
      <div class="nav">
        <button type="button" class="header__button" data-menu-button>
          <svg
            class="header__menu-icons"
            width="14"
            height="14"
            aria-label="Переключатель меню"
            aria-controls="nav-wrap"
            aria-expanded="false"
            role="img"
          >
            <use
              class="header__icon-close"
              href="./images/icons/sprite.svg#icon-close"
            ></use>
            <use
              class="header__icon-burger"
              href="./images/icons/sprite.svg#icon-burger"
            ></use>
          </svg>
        </button>
        <nav class="nav-wrap" id="nav-wrap" data-menu>
          <button type="button" class="nav__button">
            Buy Now
            <svg class="nav__icon">
              <use href="./images/icons/sprite.svg#icon-bigger"></use>
            </svg>
          </button>
          <ul class="nav__list">
            <li class="nav__item">
              <a href="#home" class="nav__link link current">Home</a>
            </li>
            <li class="nav__item">
              <a href="#feedback" class="nav__link link">About us</a>
            </li>
            <li class="nav__item">
              <a href="#howitsmade" class="nav__link link">How it's made?</a>
            </li>
            <li class="nav__item">
              <a href="#products" class="nav__link link">Our products</a>
            </li>
            <li class="nav__item">
              <a href="#contacts" class="nav__link link">Contacts</a>
            </li>
          </ul>
        </nav>
        <button type="button" class="nav__button--tablet">
          Buy Now
          <svg class="nav__icon">
            <use href="./images/icons/sprite.svg#icon-bigger"></use>
          </svg>
        </button>
      </div>
    </div>
    <section class="hero">
      <div class="hero-flex">
        <div сlass="heroice">
          <span class="hero__desc section__desc">
            ice cream<br />
            made with
          </span>
          <h1 class="hero__title section__title section__title--hero">
            passion
          </h1>
        </div>
        <ul class="hero-numbers">
          <li class="hero-item">
            <svg class="hero-item__icon" width="16" height="16">
              <use href="./images/icons/sprite.svg#icon-circle-white"></use>
            </svg>
            <span class="hero-item__number">16</span>
            <span class="hero-item__place">cafes</span>
          </li>
          <li class="hero-item">
            <svg class="hero-item__icon" width="16" height="16">
              <use href="./images/icons/sprite.svg#icon-circle-white"></use>
            </svg>
            <span class="hero-item__number">23</span>
            <span class="hero-item__place">food trucks</span>
          </li>
        </ul>
      </div>
      <div class="header__buttons">
        <button type="button" class="hero__button button">Products</button>
        <button type="button" class="hero__button button--white">
          How it's made?
        </button>
      </div>
      <div class="hero-info">
        <p class="hero-info__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <a href="#">
          <picture>
            <source
              srcset="
                ./images/general/arrow-right-26.png    1x,
                ./images/general/arrow-right-26@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/general/arrow-right-18.png    1x,
                ./images/general/arrow-right-18@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <img
              src="./images/general/arrow-right-18.png"
              alt="Красная стрелка вправо в белом круге"
            />
          </picture>
        </a>
      </div>
    </section>
  </div>
</header>
