.copyright {
  border-top: 1px solid #e1e1e1;
  padding-top: 20px;
  padding-bottom: 25px;
}
.coryright__text {
  display: block;
  @include font(14px, 700, $second-text-color, 1.5);
  width: 145px;
  text-align: center;
  margin: 0 auto;
}
