.footer {
  background-color: $bg-color;
}
.footer__padding {
  padding-bottom: 45px;
  @include for-size(tablet) {
    @include flex($justcont: space-between, $ai: baseline);
  }
  @include for-size(tablet) {
    padding: 0 15px;
    padding-bottom: 90px;
  }
  @include for-size(desktop) {
    padding: 0 120px;
    padding-bottom: 100px;
  }
}
.footer__consist {
  font-family: 'Titan One';
  margin-bottom: 45px;
  max-width: 230px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  @include for-size(tablet) {
    margin-bottom: 0;
    max-width: 340px;
  }
  @include for-size(desktop) {
    margin-bottom: 0;
    max-width: 100%;
  }
}
.footer__consist__made {
  margin-bottom: 15px;
  @include font(18px, 400, $second-color, 1.17);
  @include for-size(tablet) {
    font-size: 26px;
    line-height: 1.15;
  }
  @include for-size(desktop) {
    font-size: 30px;
    line-height: 1.13;
  }
}
.footer__consist__with {
  font-size: 34px;
  line-height: 1.15;
  color: $main-color;
  @include for-size(tablet) {
    font-size: 48px;
    line-height: 1.15;
    letter-spacing: 0.06em;
  }
}
.footer__info {
  text-align: right;
}
.footer__contacts {
  font-family: 'DM Sans';
  text-align: right;
  @include font(12px, 700, $main-color, 1.83);
  @include for-size(tablet) {
    font-size: 14px;
  }
}
.footer__contacts__text {
  color: $text-color;
}
.footer__contacts__link {
  color: $main-color;
}
.social-icons {
  @include flex($justcont: flex-end);
  margin-bottom: 45px;
}
.social-icons__item:not(:last-child) {
  margin-right: 30px;
}
.social-icons__link {
  @include flex();
  @include trans(border-radius, 50%);
  @include trans(background-color, $white-color);
  &:hover,
  &:focus {
    @include trans(border-radius, 50%);
    @include trans(background-color, $main-color);
  }
}
.social-icons__icon {
  width: 32px;
  height: 32px;
  @include trans(fill, $icons);
  .social-icons__link:hover &,
  .social-icons__link:focus & {
    @include trans(fill, $main-color);
  }
  @include for-size(tablet) {
    width: 34px;
    height: 34px;
  }
}
