.hero {
  height: calc(100% - 85px);
  @include flex($direction: column, $ai: start);
}
.hero__title {
  font-size: 48px;
  line-height: 0.96;
}
.hero__desc {
  @include font(26px, 400, $white-color, 1.15);
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.hero__button {
  &:not(:last-child) {
    margin-right: 10px;
  }
}
