.hero {
  @include flex($direction: column, $ai: start);
  @include for-size(mobile-tablet) {
    height: calc(100% - 85px * 2);
  }
}
.heroice {
  @include for-size(desktop) {
    padding-left: 90px;
  }
}
.hero__title {
  font-size: 48px;
  line-height: 0.96;
  @include for-size(tablet) {
    font-size: 34px;
    line-height: 0.9;
  }
  @include for-size(desktop) {
    font-size: 58px;
  }
}

.hero__desc {
  font-family: 'Titan One';
  @include font(26px, 400, $white-color, 1.15);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  @include for-size(tablet) {
    @include font(22px, 400, $white-color, 1.14);
  }
  @include for-size(desktop) {
    @include font(38px, 400, $white-color, 1.16);
  }
}
.hero__button {
  &:not(:last-child) {
    margin-right: 10px;
  }
  @include for-size(desktop) {
    font-size: 14px;
    line-height: 1.28;
  }
}
.hero-numbers {
  @include for-size(mobile-tablet) {
    display: none;
  }
}
.hero-item {
  position: relative;
  text-align: right;
  transition: transform 250ms $timing;
  &:hover,
  &:focus {
    transform: scale(1.05);
  }
  &:first-child {
    margin-bottom: 14px;
  }
}
.hero-item__number {
  position: relative;
  z-index: 2;
  display: block;
  font-family: 'Titan One';
  @include font(28px, 400, $main-color, 1.14);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  @include for-size(desktop) {
    @include font(46px, 400, $main-color, 1.15);
  }
}
.hero-item__place {
  display: block;
  @include font(8px, 400, $white-color, 1.25);
  @include for-size(desktop) {
    @include font(14px, 400, $white-color, 1.28);
  }
}
.hero-item__icon {
  position: absolute;
  left: 34px;
  top: -2px;
  z-index: 1;
  @include for-size(desktop) {
    width: 30px;
    left: 60px;
    top: -4px;
  }
}

.hero-flex {
  width: 100%;
  @include flex($justcont: space-between, $ai: baseline);
  @include for-size(desktop) {
    margin-top: 84px;
  }
}
.hero-info__text {
  width: 114px;
  margin-bottom: 8px;
  @include font(8px, 400, $white-color, 1.5);
  @include for-size(desktop) {
    width: 200px;
    margin-bottom: 20px;
    @include font(14px, 400, $white-color, 1.4);
  }
}
.hero-info {
  margin-top: 60px;
  margin-left: 134px;
  @include for-size(mobile-tablet) {
    display: none;
  }
  @include for-size(desktop) {
    margin-top: 100px;
    margin-left: 200px;
  }
}
