.howitsmade {
  background-color: $bg-color;

  @include for-size(mobile-tablet) {
    padding-top: 125px;

    background-image: url('../images/mobile/howitsmade/sectionbg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/desktop/howitsmade/sectionbg@2x.png');
    }
  }

  @include for-size(tablet-only) {
    padding-top: 130px;
  }

  @include for-size(desktop) {
    padding-top: 125px;

    background-image: url('../images/desktop/howitsmade/sectionbg.png');
    background-repeat: no-repeat;
    background-position: 0 342px;
    background-size: 100%;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/desktop/howitsmade/sectionbg@2x.png');
    }
  }
}

.section__desc--howitsmade {
  display: block;
  text-align: center;
  margin-bottom: 15px;
  font-family: 'Titan One';
  text-transform: uppercase;

  @include for-size(mobile-tablet) {
    @include font(18px, 400, $second-color, 1.17);
  }
  @include for-size(tablet-only) {
    @include font(26px, 400, $second-color, 1.15);
  }

  @include for-size(desktop) {
    @include font(30px, 400, $second-color, 1.13);
  }
}

.section__title--howitsmade {
  margin-bottom: 26px;
  text-align: center;

  @include for-size(tablet-only) {
    margin-bottom: 50px;
    @include font(48px, 400, $main-color, 1.15);
  }

  @include for-size(desktop) {
    margin-bottom: 55px;
    @include font(58px, 400, $main-color, 1.13);
    letter-spacing: 0.06em;
  }
}

.flex-box {
  @include for-size(mobile-tablet) {
    padding-right: 50px;
  }

  @include for-size(tablet-only) {
    display: flex;
    padding-left: 16px;
    padding-right: 56px;
  }

  @include for-size(desktop) {
    display: flex;
    padding: 0 95px;
  }
}

.article {
  align-items: flex-start;
  justify-content: space-around;
  @include for-size(tablet) {
    display: flex;
    margin-bottom: 66px;
  }
  @include for-size(desktop) {
    margin-bottom: 39px;
  }
}
.article__img {
  @media screen and (min-width: 450px) and (max-width: 767px) {
    display: flex;
    justify-content: center;
  }
  @include for-size(mobile-tablet) {
    margin-bottom: 46px;
  }
}

.article__text-box {
  @include for-size(mobile-tablet) {
    margin-bottom: 39px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @include for-size(tablet) {
    width: 340px;
    padding-top: 50px;
  }

  @include for-size(desktop) {
    width: 463px;
  }
}

.article__paragraph {
  @include font(12px, 500, $text-color, 1.62);

  margin-bottom: 34px;

  @include for-size(tablet) {
    font-size: 14px;
    line-height: 1.76;
  }

  @include for-size(desktop) {
    font-size: 16px;
    margin-bottom: 35px;
    letter-spacing: 0.04em;
  }
}

.article__paragraph--grey {
  color: $second-text-color;
  margin-bottom: 22px;
  @include for-size(desktop) {
    margin-bottom: 25px;
  }
}
.article__paragraph--last-child {
  margin-bottom: 17px;

  @include for-size(tablet-only) {
    margin-bottom: 62px;
  }
  @include for-size(desktop) {
    margin-bottom: 45px;
  }
}

.article__button {
  @include flex;
  max-width: 176px;
  @include font(14px, 700, $main-color, 1.28);
  @include for-size(tablet) {
    @include font(16px, 700, $main-color, 1.31);
  }
  @include for-size(mobile-tablet) {
    margin-left: auto;
    margin-right: auto;
  }
}

.button__icon {
  margin-left: 19px;
  stroke: $main-color;
}

.howitsmade__item:not(:last-child) {
  @include for-size(mobile-tablet) {
    margin-bottom: 38px;
  }
  @include for-size(tablet) {
    margin-right: 60px;
  }

  @include for-size(desktop) {
    margin-right: 30px;
  }
}

.howitsmade__item::before {
  content: ' ';
  margin-bottom: 16px;
  height: 50px;
  display: block;
  background-image: url('../images/general/arrow-right-18.png');
  background-repeat: no-repeat;
}

.howitsmade__item--milk::before {
  background-image: url('../images/icons/icon721.svg');
}
.howitsmade__item--apple::before {
  background-image: url('../images/icons/icon16kg.svg');
}
.howitsmade__item--heart::before {
  background-image: url('../images/icons/icon84.svg');
}

.howitsmade__title-number {
  display: inline-block;
  margin-bottom: 20px;
  font-family: 'Titan One';
  transition: transform 250ms $timing;
  &:hover,
  &:focus {
    transform: scale(1.05);
  }
  @include font(36px, 400, $main-color, 1.14);
  letter-spacing: 0.04em;
  text-transform: uppercase;

  @include for-size(tablet) {
    @include font(48px, 400, $main-color, 1.14);
  }

  @include for-size(desktop) {
    @include font(58px, 400, $main-color, 1.14);
  }
}

.howitsmade__list-text {
  @include font(12px, 700, $text-color, 1.7);

  @include for-size(tablet) {
    @include font(14px, 700, $text-color, 1.74);
  }

  @include for-size(desktop) {
    @include font(16px, 700, $text-color, 1.76);
    letter-spacing: 0.06em;
  }
}

.gallery {
  position: relative;
  top: 64px;

  @include for-size(tablet) {
    top: 150px;
  }

  @include for-size(desktop) {
    top: 250px;
  }
}

.gallery__image {
  @include for-size(mobile) {
    position: relative;
    width: 320px;
    left: 50%;
    transform: translateX(-50%);
  }
}
