.section {
  padding-top: 120px;
  padding-bottom: 100px;
}
.section__title {
  margin-bottom: 30px;
  font-family: 'Titan One';
  @include font(34px, 400, $main-color, 1.14);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  &--hero {
    margin-bottom: 20px;
  }
}

